mat-form-field {
  width: 100%;
}
.section-shaped .shape-style-1.shape-primary{
  background: linear-gradient(
    87deg
    , #6ec1e4 0, #6ec1e4 100%) !important;
}
.temos {
  color: #6ec1e4;
}
.text-tittle {
  color: #6ec1e4;
  font-weight: 900;
}
.btn {
  background-color: #6ec1e4;
  border-color: #6ec1e4;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #6ec1e4;
}
.bg-gradient-default {
  background: linear-gradient(87deg, #6ec1e4 0, #6ec1e4 100%) !important;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #6ec1e4 !important;
}
::ng-deep .mat-ho .mat-form-field-label {
  /*change color of label*/
  color: #6ec1e4 !important;
}

::ng-deep .mat-form-field-outline {
  /*change color of underline*/
  background-color: #fff !important;
}
::ng-deep
  .mat-form-field-appearance-outline:not(.mat-form-field-disabled)
  .mat-form-field-flex:hover
  .mat-form-field-outline-thick {
  color: #6ec1e4 !important;
}
::ng-deep
  .mat-form-field-appearance-outline:not(.mat-form-field-disabled)
  .mat-form-field-flex:focus
  .mat-form-field-outline-thick
  .mat-focused {
  color: #6ec1e4 !important;
}
//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: darkgrey !important;
  opacity: 0.1 !important;
}

//mat-input focused color
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #6ec1e4 !important;
}
.mat-email {
  width: 20rem !important;
}
