<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img
                    src="./assets/img/theme/team-4-800x800.jpg"
                    class="rounded-circle"
                  />
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4"
                  >Alterar foto</a
                >
                <!--<a
                  href="javascript:void(0)"
                  class="btn btn-sm btn-default float-right"
                  >Message</a
                >-->
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">0</span>
                  <span class="description">Amigos</span>
                </div>
                <div>
                  <span class="heading">0</span>
                  <span class="description">Fotos</span>
                </div>
                <div>
                  <span class="heading">0</span>
                  <span class="description">Comentarios</span>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="text-center mt-5">
            <h3>Jessica Jones
              <span class="font-weight-light">, 27</span>
            </h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Bucharest, Romania</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div>
            <div><i class="ni education_hat mr-2"></i>University of Computer Science</div>
          </div>-->

          <div
            class="text-center mt-5"
            *ngIf="this.service.userInfo !== undefined"
          >
            <h3>{{ this.service.userInfo.nomeCompleto }}</h3>
            <div class="text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <p>
                    Olá, para iniciar o processo de registro para a sua clinica
                    é necessario concluir o seu perfil.
                  </p>
                </div>
              </div>
            </div>
            <div class="text-left mt-3">
              <h5>Dados Pessoais</h5>
            </div>
            <div class="box-form border-bottom">
              <form [formGroup]="profileDadosPessoaisForm">
                <div class="row">
                  <div class="col-lg-3">
                    <mat-form-field appearance="outline" disabled>
                      <mat-label><small>CPF</small></mat-label>
                      <input
                        matInput
                        placeholder="000.000.000-00"
                        formControlName="numeroDocumentoCPF"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field appearance="outline" disabled>
                      <mat-label><small>Nome completo</small></mat-label>
                      <input
                        matInput
                        placeholder="Fulano da silva"
                        formControlName="nomeCompleto"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Data de nascimento</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="dataNascimento"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-lg-9 text-lg-left align-self-lg-center">
                  <div class="card-profile-actions py-4 mt-lg-0">
                    <p>
                      Confirme as alterações dos dados pessoais clicando no
                      botão ao lado.
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 text-lg-right align-self-lg-center">
                  <div class="card-profile-actions py-4 mt-lg-0">
                    <button
                      [disabled]="
                        this.service.userInfo.numeroDocumentoCPF ===
                          this.profileDadosPessoaisForm.get(
                            'numeroDocumentoCPF'
                          ).value &&
                        this.service.userInfo.nomeCompleto ===
                          this.profileDadosPessoaisForm.get('nomeCompleto')
                            .value &&
                        this.service.userInfo.dataNascimento + '' ===
                          this.profileDadosPessoaisForm.get('dataNascimento')
                            .value +
                            ''
                      "
                      (click)="gerenciarDadosPessoais()"
                      class="btn btn-sm btn-info mr-4"
                    >
                      Salvar alterações
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-left mt-3">
              <h5>Dados para contato</h5>
            </div>
            <div class="box-form border-bottom">
              <form [formGroup]="profileDadosContatoForm">
                <div class="row">
                  <div class="col-lg-4">
                    <mat-form-field appearance="outline" class="mat-email">
                      <mat-label><small>Email</small></mat-label>
                      <input
                        matInput
                        placeholder="fulano.silva@email.com"
                        formControlName="email"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field appearance="outline" disabled>
                      <mat-label><small>Celular</small></mat-label>
                      <input
                        matInput
                        placeholder="(00) 9-0000-0000"
                        formControlName="numeroCelular"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field appearance="outline" disabled>
                      <mat-label><small>Telefone</small></mat-label>
                      <input
                        matInput
                        placeholder="(00) 0000-0000"
                        formControlName="numeroTelefone"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-lg-9 text-lg-left align-self-lg-center">
                  <div class="card-profile-actions py-4 mt-lg-0">
                    <p>
                      Confirme as alterações dos dados de contato clicando no
                      botão ao lado.
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 text-lg-right align-self-lg-center">
                  <div class="card-profile-actions py-4 mt-lg-0">
                    <button
                      [disabled]="
                        this.profileDadosContatoForm.get('email').value ===
                          this.service.userInfo.email &&
                        this.profileDadosContatoForm.get('numeroCelular')
                          .value === this.service.userInfo.numeroCelular &&
                        this.profileDadosContatoForm.get('numeroTelefone')
                          .value === this.service.userInfo.numeroTelefone
                      "
                      (click)="gerenciarDadosContadoPerfilPessoal()"
                      class="btn btn-sm btn-info mr-4"
                    >
                      Salvar alterações
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-left mt-3">
              <h5>Dados de endereço</h5>
            </div>
            <div class="box-form border-bottom">
              <form [formGroup]="profileEnderecoForm">
              <div class="row">
                <div class="col-lg-3">
                  <mat-form-field appearance="outline" disabled>
                    <mat-label><small>Endereço</small></mat-label>
                    <input matInput  formControlName="enderecoCompleto"/>
                  </mat-form-field>
                </div>
                <div class="col-lg-3">
                  <mat-form-field appearance="outline" disabled>
                    <mat-label><small>Nº do endereço</small></mat-label>
                    <input matInput formControlName="numeroEndereco"/>
                  </mat-form-field>
                </div>
                <div class="col-lg-3">
                  <mat-form-field appearance="outline" disabled>
                    <mat-label><small>Complemento</small></mat-label>
                    <input matInput formControlName="complementoEndereco"/>
                  </mat-form-field>
                </div>
                <div class="col-lg-3">
                  <mat-form-field appearance="outline" disabled>
                    <mat-label><small>CEP</small></mat-label>
                    <input matInput placeholder="00000-000"  formControlName="cep"/>
                  </mat-form-field>
                </div>                
                <div class="col-lg-3">
                  <mat-form-field appearance="outline" *ngIf="this.service.listaTipoEstadoDto !== undefined">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estadoEndereco" (selectionChange)="consultarTipoCidade()">
                      <mat-option *ngFor="let estado of this.service.listaTipoEstadoDto.listaTipoEstadoDto" [value]="estado.idTipoEstado">
                        {{estado.nomeEstado}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>                  
                </div>
                <div class="col-lg-3">
                  <mat-form-field appearance="outline" *ngIf="this.service.listaTipoCidadeDto !== undefined">
                    <mat-label>Cidade</mat-label>
                    <mat-select formControlName="cidadeEndereco">
                      <mat-option *ngFor="let cidade of this.service.listaTipoCidadeDto.listaTipoCidadeDto" [value]="cidade.idTipoCidade">
                        {{cidade.nomeCidade}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>  
                </div>
              </div>
            </form>
              <div class="row">
                <div class="col-lg-9 text-lg-left align-self-lg-center">
                  <div class="card-profile-actions py-4 mt-lg-0">
                    <p>
                      Confirme as alterações dos dados de endereço clicando no
                      botão ao lado.
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 text-lg-right align-self-lg-center">
                  <div class="card-profile-actions py-4 mt-lg-0">
                    <button
                      (click)="gerenciarDadosEndereco()"
                      class="btn btn-sm btn-info mr-4"
                      >Salvar alterações</button
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
